@import "../../../styles/variables/colors";

.contact--section {
    min-height:100vh;
    background-color:$primary-color;
    display: flex;
    align-items: center;
    justify-content: center;

    
    @media screen and (max-width:900px) {
        min-height:100%;
        padding:6rem 1rem;
    }


     .contact--section-content {
        text-align:center;

        h1 {
            font-size:5rem;
            font-weight:900;

            @media screen and (max-width:800px) {
                font-size:4rem;
            }

            @media screen and (max-width:560px) {
                font-size:2.2rem;
            }

            @media screen and (max-width:400px) {
                font-size:1.8rem;
            }

            &.disabled {
                color:#87D322;
            }
        }

        button {
            background-color: $black-color;
            color:$white-color;
            font-weight:600;
            font-size:0.95rem;
            border-radius:100px;
            border:none;
            cursor:pointer;
            padding:0.85rem 2rem;
            margin:3rem 0 0;
        }

   
     }
}