@import "../../../styles/variables/colors";

.footer--container {
     width:100%;
     background-color: $white-color;
     padding:1.5rem 0;

     
    @media screen and (max-width:1300px) {
        padding:1.5rem;
    }

    @media screen and (max-width:560px) {
        padding:3rem 1.5rem;
    }


      .footer--container-content {
        max-width:1220px;
        margin:0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width:560px) {
            flex-direction: column;
            row-gap:2rem;
        }

         ul {
            display: flex;
            align-items: center;
            list-style:none;
            column-gap:1.5rem;

            @media screen and (max-width:560px) {
                flex-direction: column;
                row-gap:1rem;
            }

             li {
                a {
                    text-decoration: none;
                    color:$black-color;
                }
             }
         }
      }
}